# Entorno virtual (ajusta el nombre si usas otro)
environment/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Archivos de base de datos SQLite
db.sqlite3

# Archivos de migraciones (opcional, si no quieres subirlas)
# miapp/migrations/

# Configuraciones locales
.env
*.env

# Archivos de log
*.log

# Carpetas de IDE o editores
.vscode/
.idea/

# Archivos estáticos recolectados (si usas collectstatic)
staticfiles/

# Archivos de sistema
.DS_Store
Thumbs.db

